.pmd
.jazzignore
.settings
.externalToolBuilders
.metadata
.mylyn
.plugins
.log
.class
.classpath
.settings
.project
.org.eclipse.*
target
bin
/bin
/target
/build
jspm_packages
node_modules
dist
${env.JBOSS_HOME}

*/.pmd
*/.jazzignore
*/.settings
*/.externalToolBuilders
*/.metadata
*/.mylyn
*/.plugins
*/.log
*/.class
*/.classpath
*/.settings
*/.org.eclipse.*
*/.project
*/build
*/bin
*/target